
 body{

   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 
 }



 .searchterm {
  width: 40%;
  border: 3px solid #a7a6ab;
  padding: 5px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #000000 ;
}
.searchbutton {
  width: 80px;
  height: 40px;
  border: 2px solid #a7a6ab;
  background: #a7a6ab;
  text-align: center;
  color: #fff;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;
  font-size: 17px;
  }
 .copy{
  padding-top:370px;
 }
